.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto; /* Enables vertical scrolling */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.navLinks {
  flex-grow: 1;
}

.navButton {
  justify-content: flex-start;
  color: var(--mantine-color-gray-7);
  transition: background-color 0.2s ease;
}

.navButton:hover {
  background-color: var(--mantine-color-gray-1);
}




.navLinks {
  max-height: calc(100vh - 80px); /* Adjust based on the header height */
  overflow-y: auto;
}