@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --app-shell-navbar-width: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-mantine-color-scheme] {
  --app-shell-navbar-width: auto;
  --app-shell-navbar-z-index: 101;
  --app-shell-border-color: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}

.mantine-AppShell-navbar {
  border: none !important;
  border-inline-end: none !important;
}